/*global styles*/


body{
    font-family:'Open Sans', sans-serif;
    background-image: url(images/roses.jpg);
    background-size:cover;
    background-position:bottom;
    background-attachment:fixed;
    background-repeat:repeat-x;
    
}

#container{
    
}

h2, figcaption{
    font-family: 'Pompiere', cursive;
    color: #A72120;
}
/*end global styles*/


/*nav styles*/

header{
    background-image: url(images/header3.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 7%;
    margin-bottom: 2%;
}

nav li{
    list-style-type: none;
    color: #A72120;    
}

nav ul{
    padding: 4%;
}

nav{
    border-radius: 0 0 5px 5px;
    font-family: 'Pompiere', cursive;
    font-size: 30px;
    text-align: center; 
    width: 80%;
    margin: 0 auto;
    clear: both;
}

nav a{
  text-decoration: none;
  color: #A72120;
  padding: 10px;
}

nav a:hover{
    font-weight: bold;
}

/*end nav styles*/


/*main styles*/


.main2{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    text-align:left;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255,255,255, .80); 
    max-width: 90%;
    margin: 0 auto;
}


/*end main styles*/



/*footer styles*/
footer{
    color: #A72120;
    background-image: url(images/header3.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 25%;
    text-align: center;
    font-family: 'Pompiere', cursive;
    font-size: 20px;
    margin-top: 1%;
}

footer a{
    text-decoration: none;
    color: #A72120;   
}

footer a:hover{
    font-weight: bold;
}
/*end footer styles*/



.backToTop{
      overflow: hidden;
      position:fixed;
      margin-left: 95%;
      bottom: 0;
      width: 40%;
      font-size: 2em;
      color: rgba(255,255,255, .90);
      text-decoration: none;
}

/*flex box styles*/
.flex{ 
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    align-items:flex-start;
    height: auto;
    max-width: 100%;
    margin-top: 2%;
    
   
}
.flex img{
  max-width: 100%; 
}

.flex figure{
    text-align: center;
    
}

.flex p{
    padding: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    text-align:left;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255,255,255, .80);  
    border-radius: 5px 5px 5px 5px;
}
/*end flex box styles*/


/*styles for figure box*/
figure{
    padding: 20px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(255,255,255, .80);  
    border-radius: 5px 5px 5px 5px;
}

figure img{
   border-radius: 5px 5px 5px 5px;
}

figcaption{
    font-weight: 600;
    font-size: 20px;
    margin: 2%;
}

img{
    border-radius: 5px 5px 5px 5px;
}

img:hover{
     box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

figure img:hover{
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

.singleImage{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}

/*end figure box styles*/


/*media queries*/
@media only screen and (min-width: 1025px) {
   .flex{
      max-width: 80%;
      margin: 0 auto;
}
    .figures{
        max-width: 80%;
        margin: 0 auto;
    }   
  
    .singleImage{
        max-width: 80%;
        margin:0 auto;
    }
    
}

@media only screen and (max-width: 425px){
    .backToTop{
        margin-left: 89%;
    }
    
    footer{
        margin: 11%;
    } 
}



